@media (max-width:377px) {
    
    nav a span{
        font-size: 4.5vw;
    }

    nav ul{
        font-size: 4vw;
    }

}


@media (max-width:406px) {
    
    .card-header img{
        width: 150px !important;
        height: 150px !important; 
    }

}

@media (min-width:769px) and (max-width:991px) {


    @media (min-width:768px) and (max-width:992px) {
    
        nav ul{
            display: inline-flex !important;
            flex-direction: row !important;
            float: right;
            margin-top: -53px !important;
        }
    
    }
    
}