@media (min-width:768px) and (max-width:992px) {
    
    nav ul{
        display: inline-flex !important;
        flex-direction: row !important;
        float: right;
        margin-top: -53px !important;
    }

}